html {
    background: #1f1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: #fff;
    color: #333333;
    font-family: Oswald, sans-serif;
    margin-top: 40px;
    width: 320px;
    min-height: 380px;
    border: 5px solid #dfdfdf;
}

header {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.picsum.photos/id/921/320/200.jpg?blur=2&hmac=Na-Mek4l3vE7EavOtn6HooNPhMLmJImOoQkEpD66K-M");
}

h1 {
    margin-top: 0;
}

.avatar {
    height: 80px;
    width: 80px;
    border: 3px solid #dfdfdf;
    border-radius: 50%;
}

.completed {
    color: darkgreen;
    text-decoration: line-through;
}

.incompleted {
    color: #CF2323;
}

.container {
    padding: 20px;
}

.add_container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input#new_task {
    height: 35px;
    width: 100%;
    color: #525764;
    border-radius: 6px;
    border: 1px solid #cececf;
    box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.2);
    font-family: inherit;
}

button#add_task {
    margin-top: 10px;
    font-size: 20px;
    color: #ffff;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    background-color: darkgreen;
    border: 0;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 5px;
}

li span {
    margin-left: 5px;
}
